body {
  font: normal normal normal 1.2rem/1.5 'Source Sans Pro', sans-serif;
}

#main-text {
  border: 2px solid #ccc;
  flex: 2;
  font-size: 1.2rem;
  height: 600px;
  width: 50%;
}

#score-button {
  background: #559;
  border: 4px solid #ccc;
  color: #fff;
  font-size: 1.5rem;
  margin: 0 1rem;
  padding: .5rem;
}

#result {
  flex: 1;
  font-size: 4.5rem;
  font-weight: bold;
  text-align: center;
}

.layout {
  display: flex;
}

.easy {
  background: #090;
  color: #fff;
}

.difficult {
  background: #900;
  color: #fff;
}
